

<head>
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; width: 100%;}
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }

    </style>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="url.js"></script>
    <script>
        console.log(BASE_URL);



        function upgradeTenant() {
            const id = document.getElementById("tenant-name-version").value;
            const version = document.getElementById("versions").value;
            console.log(id);
            console.log(version);
            const request = new XMLHttpRequest();
            request.open("POST" ,BASE_URL +'/admin/tenant/version', true);
            request.setRequestHeader('authentication-token', "<%=token%>");
            request.setRequestHeader('tenant-id', "admin");
            request.setRequestHeader('Content-type', 'application/json');
            request.onreadystatechange = function() {
            };

            request.send(JSON.stringify({name: id, version: version}));
            location.reload();

        }

        function syntaxHighlight(json) {
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }

        function display_tenant() {
            const tenant = document.getElementById("display-tenant-s").value;
            document.getElementById("display-tenant").innerHTML = syntaxHighlight(tenant);

        }

        display_tenant();
    </script>

</head>

<h1>Admin</h1>

<h2>Tenants</h2>
<table>
    <tr>
        <th>Name</th><th>Version</th><th># Users</th>
    </tr>

    <% for (var i = 0; i < tenants.length;  i++) { %>
        <tr>
            <td><%= tenants[i].name %></td>
            <td><%= tenants[i].version %></td>
            <td><%= tenants[i].users.length %></td>
        </tr>
    <% } %>
</table>

<div>
    <h4>Change tenant version</h4>
    <select id="tenant-name-version">
        <% for (var i = 0; i < tenants.length;  i++) { %>
            <option value="<%= tenants[i].name %>"><%= tenants[i].name  %></option>
        <% } %>
    </select>
    <select id="versions">
        <option value="v1">Version 1</option>
        <option value="v2">Version 2</option>
        <option value="v3">Version 3</option>
    </select>
    <button onclick="upgradeTenant()">Change</button>
</div>

<div>
    <h4>Display tenant</h4>
    <select id="display-tenant-s" onchange="display_tenant()">
        <% for (var i = 0; i < tenants.length;  i++) { %>
            <option value="<%= JSON.stringify(tenants[i]) %>"><%= tenants[i].name  %></option>
        <% } %>
    </select>
    <pre style="display: block" id="display-tenant"></pre>
</div>

<hr>

<h2>Users</h2>
<table>
    <tr>
        <th>Name</th><th>Tenant</th>
    </tr>
    <% for (var i = 0; i < users.length;  i++) { %>
        <tr>
            <td><%= users[i].name %></td>
            <td><%= users[i].tenant.name %></td>
        </tr>
    <% } %>
</table>
